<%= link_to "＋ 新しい投稿を作成する", new_post_path, class: "load-btn", style: "display: inline-block; margin-bottom: 20px;" %>

<% @posts.each do |post| %>
  <div class="post-card">
    <%= link_to post_path(post), style: "text-decoration: none; color: inherit;" do %>
      <iframe width="300" height="169"
              src="<%= youtube_embed_url(post.video_url) %>"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>

      <p><strong>歌詞（一部）:</strong><br>
        <%= truncate(post.lyrics, length: 100) %>
      </p>

      <p><strong>メモ（一部）:</strong><br>
        <%= truncate(post.memo, length: 100) %>
      </p>
    <% end %>
    <hr>
  </div>
<% end %>
