<!DOCTYPE html>
<html>
  <head>
    <title>Kashimemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "rails-ujs", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "youtube_loader", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- ãƒ˜ãƒƒãƒ€ãƒ¼ -->
    <header style="position: relative; padding: 20px 0; text-align: center;">
      <%= link_to "ðŸŽ¶ Kashimemo", root_path, style: "text-decoration: none; font-size: 24px; font-weight: bold;" %>

      <!-- ãƒ­ã‚°ã‚¤ãƒ³çŠ¶æ…‹ã«ã‚ˆã£ã¦ãƒœã‚¿ãƒ³è¡¨ç¤º -->
      <div style="position: absolute; top: 20px; right: 20px;">
        <% if user_signed_in? %>
          <%= current_user.nickname %>
          <% unless controller_name == "posts" && (action_name == "mypage" || action_name == "edit") %>
          <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", mypage_path %>
          <% end %>
          <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, data: { turbo: false } %>
        <% else %>
          <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %> 
          <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
